body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
#navbar {
    background-color: #1f1f1f;
    transition: all 0.3s ease;
}
#navbar .header_wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    margin: 0 20px;
}
#navbar .header_wrap img {
    height: 45px;
    width: auto;
}
#navbar .header_wrap img:hover {
    opacity: 0.8;
}
#navbar .header_wrap button{
    color: white;
    margin-top: 3px;
    background: none;
    border: none;
}
#navbar .header_wrap span{
    font-size: 35px;
}
#navbar .header_wrap button:hover {
    opacity: 0.6;
    cursor: pointer;
}
#navbar .header_content {
    /* background-color: #1f1f1f; */
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: none;
}
#navbar .header_content ul li a{
    text-decoration: none;
    color: white;
    list-style: none;
}
#navbar .header_content ul{
    text-decoration: none;
    color: white;
    list-style: none;
    display: block;
    align-items: center;
    justify-content: center;
    margin: 10px;
}
#navbar .header_content ul li{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 18px;
}
#navbar .header_content li:hover {
    opacity: 0.8;
}
#navbar #listas {
    display: none;
}